@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Your own custom component styles */

@import 'tailwindcss/utilities';

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

.circle6 {
  height: 1.5rem;
  width: 1.5rem;
}

.circle7 {
  height: 1.75rem;
  width: 1.75rem;
}

.circle8 {
  height: 2rem;
  width: 2rem;
}

.circle9 {
  height: 2.25rem;
  width: 2.25rem;
}

.circle10 {
  height: 2.5rem;
  width: 2.5rem;
}

.circle11 {
  height: 2.75rem;
  width: 2.75rem;
}

.circle12 {
  height: 3rem;
  width: 3rem;
}

.circle14 {
  height: 3.5rem;
  width: 3.5rem;
}

.circle15 {
  height: 3.75rem;
  width: 3.75rem;
}

.circle16 {
  height: 4rem;
  width: 4rem;
}
